# PostgreSQL 
POSTGRES_USER=change_me
POSTGRES_PASSWORD=change_me
POSTGRES_DB=fraud_db

# MinIO (stockage fichiers)
MINIO_ROOT_USER=change_me
MINIO_ROOT_PASSWORD=change_me

# Grafana (monitoring)
GRAFANA_PASSWORD=change_me

# MLflow
MLFLOW_TRACKING_URI=http://localhost:5000